body {
	background-color: #23252C;
	color: #D1D5DB;
	font-family: 'Inter', sans-serif;
}
/*General settings*/
h2, h3 {
	text-align: left;
}
/*card info section*/
.card_info {
	text-align: center;
}
h1 {
	font-weight: 700;
	font-style: Bold;
	font-size: 1.5625rem;
}
.app-container {
	max-width: 550px;
	margin: 0 auto;
}
.card_title {
	color: #F3BF99;
	font-size: .8rem;
}
img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.btn {
	display: flex;
	margin:.83rem 0;
	width: 100%;
}
button {
	width: 100%;
	padding: .5rem;
	
}
/*About*/

/*Interest*/

/*Footer*/
.footer {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 20px;
  background-color: #161619;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px; /* fyrkant med lite rundning */
  background: #222;
  color: white;
  text-decoration: none;
  transition: 0.2s;
  font-size: 18px;
}

.icon:hover {
  transform: scale(1.1);
}

/* specifika färger */
.linkedin {
  background: #0A66C2;
}

.github {
  background: #333;
}